@model blog.Models.PostsListViewModel

@{
	ViewBag.Title = "Posts";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post List</h2>


@foreach (var p in Model.posts)
{
	@Html.Partial("ProductSummary", p)
}

<div class="pager">
	@Html.pageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


