@model blogBl.Post


<div class="well">
	<h3>
		<strong>@Model.title</strong>
	</h3>
	<span class="lead"> @Model.idPost</span>

	<h4>
		@foreach (var p in Model.groups)
		{
			@Html.Partial("Groups", p)
		}
	</h4>

</div>

